<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>provider</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div class="login-logo">
          <img src="assets/img/appicon.svg" alt="Ionic logo">
        </div>
  
  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            Email is required
        </p>
      </ion-text>
  
      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
        </p>
      </ion-text>

      <ion-item>
          <ion-label color="primary" position="stacked">Facility Name</ion-label>
          <ion-input inputmode="text"  placeholder="Ex..: Joe Doe" value="CureNowClinics"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="stacked">Practice Registration</ion-label>
          <ion-input inputmode="text" placeholder="Ex..: Joe Doe" value="PR221321"></ion-input>
        </ion-item>


    </ion-list>

  
  
   
  </form>
  <ion-item>
      <!-- <ion-label>Pepperoni</ion-label> -->
      <ion-checkbox checked></ion-checkbox>
      <ion-label>Provider</ion-label>
    </ion-item>
 
    
          <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Next</ion-button>
       
    

  </ion-content>
  
  
