

<ion-header>
  <ion-toolbar color="primary">
      
    <ion-title text-center>Patient</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
   
        <div padding-horizontal text-center>
            <div class="login-logo">
                <img src="assets/img/appicon.svg" alt="Ionic logo">
              </div>
        </div>
  <ion-card>
<p tappable (click)="patient()" class="paz">Mother:	
 
      <ion-text color="primary">
        <strong>Mrs.Naga Lakshmi</strong>
      </ion-text>
    </p>
    <p  >Last Admission:	
 
      <ion-text color="primary">
        <strong>10/01/2018</strong>
      </ion-text>
    </p>
    <p  >Age:	
 
      <ion-text color="primary">
        <strong>32</strong>
      </ion-text>
    </p>
    <p  >Blood Group:	
 
      <ion-text color="primary">
        <strong>O+</strong>
      </ion-text>
    </p>
  </ion-card>
  <ion-card>
    <p tappable (click)="child1()" class="paz">Child:	
 
      <ion-text color="primary">
        <strong>Child1</strong>
      </ion-text>
    </p>
    <p  >DOB	
 
      <ion-text color="primary">
        <strong>03/12/2016</strong>
      </ion-text>
    </p>
    <p  >Weight:	
 
      <ion-text color="primary">
        <strong>5Kgs</strong>
      </ion-text>
    </p>
    <p  >Blood Group:	
 
      <ion-text color="primary">
        <strong>A+</strong>
      </ion-text>
    </p>
    </ion-card>
    <ion-card>
      <p tappable (click)="child2()" class="paz">Child:	
 
        <ion-text color="primary">
          <strong>Child2</strong>
        </ion-text>
      </p>
      <p  >DOB	
   
        <ion-text color="primary">
          <strong>05/10/2016</strong>
        </ion-text>
      </p>
      <p  >Weight:	
   
        <ion-text color="primary">
          <strong>4.5Kgs</strong>
        </ion-text>
      </p>
      <p  >Blood Group:	
   
        <ion-text color="primary">
          <strong>A+</strong>
        </ion-text>
      </p>
    </ion-card>
      <ion-button  size="large" shape="round" color="medium" (click)="login()">
        <ion-icon name="ios-home"></ion-icon>
        </ion-button>
   
    </div></ion-col></ion-row></ion-grid>
</ion-content>


