<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="provider"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>User Setup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="login-logo">
        <img src="assets/img/appicon.svg" alt="Ionic logo">
      </div>
      
<form #indiuserForm="ngForm" novalidate>
  
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="primary">Email</ion-label>
      <ion-input [(ngModel)]="indiuser.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
        Email is required
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked" color="primary">Phone Number</ion-label>
      <ion-input [(ngModel)]="indiuser.number" name="number" type="text" #number="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="number.valid || submitted == false" class="ion-padding-start">
        Phone Number is required
      </p>
    </ion-text>
  </ion-list>


  <ion-row>
    <ion-col>
      <ion-button (click)="onLogin(indiuserForm)" type="submit" expand="block">  Next</ion-button>
    </ion-col>
    
  </ion-row>
        </div></ion-col></ion-row></ion-grid>
</form>
</ion-content>


