<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="patientlist"></ion-back-button> 
       </ion-buttons> 
       <ion-title text-center>Maternity Profile</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content class="profile">
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
    
            <img src="assets/img/mother.jpg">
        
        <h1 text-center>Mrs.Nagalakshmi</h1>
     
   
        <ion-grid >
            <ion-row >
                <ion-col col-4></ion-col>
              <ion-col size="4">
                  <img src="assets/img/barcode.jpg">  </ion-col>
      <ion-col col-4></ion-col>
           
            </ion-row>
        </ion-grid>
      
    
        <ion-card>
      <ion-card-content>
    <p  >Blood Group:	
 
      <ion-text color="primary">
        <strong>O+</strong>
      </ion-text>
    </p>
    <p  >Email	
 
      <ion-text color="primary">
        <strong>mnagalaksmi@yahoo.com</strong>
      </ion-text>
    </p>
    <p  >phone:	
 
      <ion-text color="primary">
        <strong>998034212</strong>
      </ion-text>
    
    </p>
   
  </ion-card-content>
</ion-card>
    <h1 text-center> Admission History </h1>
    <ion-card>
      <ion-card-content>
    <p >Admission No	
 
      <ion-text color="primary">
        <strong>87213-AN01</strong>
      </ion-text>
    </p>
    <p  >Admission Date:	
 
      <ion-text color="primary">
        <strong>01/12/2018</strong>
      </ion-text>
    </p>
    <p  >Time:	
 
      <ion-text color="primary">
        <strong>3:50PM</strong>
      </ion-text>
    </p>

    <ion-row >
        <ion-col>
           
                
        </ion-col>
        <ion-col >
          <ion-button (click)="patientnotes()" color="light" >View Notes</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <p >Admission No	
 
      <ion-text color="primary">
        <strong>87213-AN02</strong>
      </ion-text>
    </p>
    <p  >Admission Date:	
 
      <ion-text color="primary">
        <strong>01/12/2016</strong>
      </ion-text>
    </p>
    <p  >Time:	
 
      <ion-text color="primary">
        <strong>3:50PM</strong>
      </ion-text>
    </p>
    <ion-row>
        <ion-col>
            
        </ion-col>
        <ion-col>
          <ion-button (click)="patientnotes()" color="light" >View Notes</ion-button>
        </ion-col>
      </ion-row>
   
    </ion-card-content>
  </ion-card>
        </div></ion-col></ion-row></ion-grid>

  
            </ion-content>
