<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="provider"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>User Setup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-logo">
    <img src="assets/img/appicon.svg" alt="Ionic logo">
  </div>
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
      <ion-text color="primary">
      <p text-center >Medical History Questionnaire:</p>
      <p text-center >Please fill out the form</p>
    </ion-text>
 
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block">  Upload PDF</ion-button>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="indilogincred()" type="submit" expand="block">  Next</ion-button>
    </ion-col>
    
  </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="provider"></ion-back-button>
  </ion-buttons>
    <ion-title text-center>Upload Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <div ng2FileDrop [ngClass]="{'drop-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="fileUploader"
    class="area">
    <div id="dropZone">Drop files here</div>
  </div>
<input type="file" accept="image/*" ng2FileSelect [uploader]="fileUploader" multiple />


  <ion-button (click)="uploadFiles()">Upload files</ion-button>

  <h2>Your files: {{ fileUploader?.queue?.length }}</h2>
  <ul>
    <li *ngFor="let item of fileUploader.queue">
      {{ item?.file?.name }}
    </li>
  </ul>

</ion-content> -->

