.profile {
    
      width: 100%;
      border-radius: 0;
      background-color: #fff;
     
         padding: 32px;
        // background-color: var(--ion-color-primary);
        // color: #fff;
         text-align: center;
  
        img {
          height: 128px;
          width: 128px;
          border-radius: 50%;
          border: solid 4px #fff;
          display: inline;
          box-shadow: 0 0 28px rgba(255,255,255, .65);
        }
  
  }