<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
           <ion-back-button defaultHref="facpatient"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>Search</ion-title>
    </ion-toolbar>
  </ion-header>

  
      
<ion-content class="profile">
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
  
            <img src="assets/img/child.jpg">
       
      
    <div text-center>	
        <ion-button shape="round" > 
        Generate/Scan tag 
        </ion-button></div>

  <form #facaddForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
            <ion-label position="stacked" color="primary">Name</ion-label>
            <ion-input [(ngModel)]="facadd.name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
                 Name is required
            </p>
          </ion-text>
  
          <ion-item>
              <ion-label position="stacked" color="primary"> Blood Group</ion-label>
              <ion-input [(ngModel)]="facadd.group" name="group" type="text" #group="ngModel" spellcheck="false" autocapitalize="off"
                required>
              </ion-input>
            </ion-item>
        
            <ion-text color="danger">
              <p [hidden]="group.valid || submitted == false" class="ion-padding-start">
                  Blood Group is required
              </p>
            </ion-text>
  
            <ion-item>
                <ion-label position="stacked" color="primary">Weight</ion-label>
                <ion-input [(ngModel)]="facadd.number" name="number" type="text" #number="ngModel" spellcheck="false" autocapitalize="off"
                  required>
                </ion-input>
              </ion-item>
          
              <ion-text color="danger">
                <p [hidden]="number.valid || submitted == false" class="ion-padding-start">
                    Weight is required
                </p>
              </ion-text>
  
              <ion-item>
                  <ion-label position="stacked" color="primary">Gender</ion-label>
                  <ion-input [(ngModel)]="facadd.gender" name="gender" type="text" #gender="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                  </ion-input>
                </ion-item>
            
                <ion-text color="danger">
                  <p [hidden]="gender.valid || submitted == false" class="ion-padding-start">
                      Gender is required
                  </p>
                </ion-text>
    
        <ion-item>
          <ion-label position="stacked" color="primary">Delivery Date</ion-label>
          <ion-input [(ngModel)]="facadd.date" name="date" type="text" #date="ngModel" required>
          </ion-input>
        </ion-item>
    
        <ion-text color="danger">
          <p [hidden]="date.valid || submitted == false" class="ion-padding-start">
              Delivery Date is required
          </p>
        </ion-text>
        <ion-item>
            <ion-label position="stacked" color="primary">Delivery time</ion-label>
            <ion-input [(ngModel)]="facadd.time" name="time" type="text" #time="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="time.valid || submitted == false" class="ion-padding-start">
                Delivery time is required
            </p>
          </ion-text>
         
      </ion-list>
    
    
      
    </form>
  
  <div text-center>	
      <ion-button (click)="onLogin(facaddForm)" shape="round" type="submit">Save</ion-button>
    </div>
        </div></ion-col></ion-row></ion-grid>
  </ion-content>