ion-toolbar {
  // TODO test transparent and fullscreen
   --background: transparent;
   --border-color: transparent;
 
}
.swiper-slide {
  display: block;
}
.slide-title {
  margin-top: 2.8rem;
}
.slide-image {
  max-height: 20%;
  max-width: 20%;
  margin: 36px 0;
  pointer-events: none;
}
b {
  font-weight: 500;
}
p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646B);
  b {
    color: var(--ion-text-color, #000000);
  }
}
ion-slides{
  background-color: rgb(192, 223, 243);
}
.profile {
     text-align: center;
    img {
      max-height: 20%;
      max-width: 20%;
      border-radius: 50%;
      display: inline;
      box-shadow: 0 0 28px rgba(255,255,255, .65);
    }
  
   }

