<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class ="profile">
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
    <ion-slide>
      <img src="assets/img/women.jpg" class="slide-image" />
      <h2 class="slide-title">
        Welcome to
        <b>Maternity Connect</b>
      </h2>
      <p>
        The
        <b>Maternity connect app</b> is a information about the mother and her child.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/women.jpg" class="slide-image" />
      <h2 class="slide-title">Who can use these app?</h2>
      <p>
        <b>Maternity Connect</b> is the app use by both the patient and facility.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/women.jpg" class="slide-image" />
      <h2 class="slide-title">What is use of this app?</h2>
      <p>
        <b>Maternity connect</b>  is a source that user can check and update their maternity details.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/women.jpg" class="slide-image" />
      <h2 class="slide-title">Ready to</h2>
      <ion-button fill="clear" (click)="startApp()">
        Continue
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
