<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="provider"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>provider Type</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <div class="login-logo">
          <img src="assets/img/appicon.svg" alt="Ionic logo">
        </div>
  
        <ion-grid>
          <ion-row  justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
  <form #loginForm="ngForm" novalidate>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Provider </ion-label>
            <ion-select>
              <ion-select-option value="nes">Maternity Hospital</ion-select-option>
              <ion-select-option value="n64">Nutritionist</ion-select-option>
              <ion-select-option value="ps">Psychiatrist</ion-select-option>
            </ion-select>
          </ion-item>
  
  
          <ion-item>
              <ion-label color="primary" position="stacked">Discipline </ion-label>
              <ion-input inputmode="text"  placeholder="" value="OB/GYN"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label color="primary" position="stacked">Level</ion-label>
              <ion-input inputmode="text"  placeholder="" value="Specialist"></ion-input>
            </ion-item>
            <p text-center>Certified?</p>

            <ion-grid class="btn-group">
                <ion-row>
                  <ion-col size="4">
                     <ion-list>

                      <ion-item>
                        <!-- <ion-label>Pepperoni</ion-label> -->
                           <ion-checkbox></ion-checkbox>
                            <ion-label>Yes</ion-label>
                            </ion-item>
                           </ion-list>  
                  </ion-col>
                  <ion-col size="4">
                      <ion-list>

                          <ion-item>
                            <!-- <ion-label>Pepperoni</ion-label> -->
                            <ion-checkbox></ion-checkbox>
                            <ion-label>No</ion-label>
                          </ion-item>
                      </ion-list>  
                  </ion-col>
                </ion-row>
              </ion-grid>

    </ion-list>

  
  
   
  </form>
 
    
          <ion-button  (click)="onLogin(loginForm)" type="submit" expand="block">Next</ion-button>
       
              </div></ion-col></ion-row></ion-grid>

  </ion-content>
  
  