<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="register"></ion-back-button> 
       </ion-buttons> 
      <ion-title text-center>Business</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
      <div padding-horizontal text-center>
          <div class="login-logo">
              <img src="assets/img/appicon.svg" alt="Ionic logo">
            </div>
      </div>
  <form #businessForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
          <ion-label position="stacked" color="primary">First Name:</ion-label>
          <ion-input [(ngModel)]="business.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
    
        <ion-text color="danger">
          <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
              First Name is required
          </p>
        </ion-text>

        <ion-item>
            <ion-label position="stacked" color="primary">Last Name:</ion-label>
            <ion-input [(ngModel)]="business.lastname" name="lastname" type="text" #lastname="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="lastname.valid || submitted == false" class="ion-padding-start">
                Last Name is required
            </p>
          </ion-text>

          <ion-item>
              <ion-label position="stacked" color="primary">Email:</ion-label>
              <ion-input [(ngModel)]="business.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
                required>
              </ion-input>
            </ion-item>
        
            <ion-text color="danger">
              <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
                 Email is required
              </p>
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Aadhaar/PAN Number:</ion-label>
                <ion-input [(ngModel)]="business.number" name="number" type="text" #number="ngModel" spellcheck="false" autocapitalize="off"
                  required>
                </ion-input>
              </ion-item>
          
              <ion-text color="danger">
                <p [hidden]="number.valid || submitted == false" class="ion-padding-start">
                    Aadhaar/PAN Number is required
                </p>
              </ion-text>
  
      <ion-item>
        <ion-label position="stacked" color="primary">Address:</ion-label>
        <ion-input [(ngModel)]="business.address" name="address" type="text" #address="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="address.valid || submitted == false" class="ion-padding-start">
            Address is required
        </p>
      </ion-text>
    </ion-list>
  
  
    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(businessForm)" type="submit" expand="block">  Next</ion-button>
      </ion-col>
      
    </ion-row>
  </form>
          </div></ion-col></ion-row></ion-grid>
  </ion-content>
  
  
