<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="patientlist"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>Maternity Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center class="profile">
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
  
          <img class="circle-pic" src="../assets/img/child.jpg" >
      
<h1 text-center>Child1</h1>

<ion-card>
<p  >Blood Group:	
  <ion-text color="primary">
        <strong>A+</strong>
      </ion-text>
    </p>
     <p  >Weight:	
 
      <ion-text color="primary">
        <strong>5Kgs</strong>
      </ion-text>
    </p>
    <p  >Delivery Date:	
 
      <ion-text color="primary">
        <strong>03/12/2016</strong>
      </ion-text>
    </p>
    <p  >Delivery Time:	
 
      <ion-text color="primary">
        <strong>2:59PM</strong>
      </ion-text>
    
  </ion-card>
        </div></ion-col></ion-row></ion-grid>
          </ion-content>