<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="provider"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>User Setup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="login-logo">
        <img src="assets/img/appicon.svg" alt="Ionic logo">
      </div>
      <ion-text color="primary">
      <p text-center >Insurance Info</p>
    </ion-text>
<form #usertypeForm="ngForm" novalidate>
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="primary">Name of the Insurance</ion-label>
      <ion-input [(ngModel)]="usertype.name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
        required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
        Name of the Insurance is required
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked" color="primary">Policy</ion-label>
      <ion-input [(ngModel)]="usertype.number" name="number" type="text" #number="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="number.valid || submitted == false" class="ion-padding-start">
        Policy is required
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked" color="primary">Claims Contact</ion-label>
      <ion-input [(ngModel)]="usertype.contact" name="contact" type="text" #contact="ngModel" required>
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p [hidden]="contact.valid || submitted == false" class="ion-padding-start">
        Claims Contact is required
      </p>
    </ion-text>
  </ion-list>


  <ion-row>
    <ion-col>
      <ion-button (click)="onLogin(usertypeForm)" type="submit" expand="block">  Next</ion-button>
    </ion-col>
    
  </ion-row>
        </div></ion-col></ion-row></ion-grid>
</form>
</ion-content>



