
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
           <ion-back-button defaultHref="facsearch"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

 
<ion-content class="profile">
  
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
       
            <img src="assets/img/mother.jpg">
        
      
    <div  text-center>	
      <ion-input type="text" [(ngModel)]="encodeData"></ion-input>
 
  <ion-button (click)="encodedText()">
    Generate QR
  </ion-button>
 
 
</div>

  <form #motherForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
            <ion-label position="stacked" color="primary">IP Number</ion-label>
            <ion-input [(ngModel)]="mother.number" name="number" type="text" #number="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="number.valid || submitted == false" class="ion-padding-start">
                IP Number is required
            </p>
          </ion-text>
  
          <ion-item>
              <ion-label position="stacked" color="primary"> Name</ion-label>
              <ion-input [(ngModel)]="mother.name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
                required>
              </ion-input>
            </ion-item>
        
            <ion-text color="danger">
              <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
                  Name is required
              </p>
            </ion-text>
  
            <ion-item>
                <ion-label position="stacked" color="primary">W/O</ion-label>
                <ion-input [(ngModel)]="mother.wname" name="wname" type="text" #wname="ngModel" spellcheck="false" autocapitalize="off"
                  required>
                </ion-input>
              </ion-item>
          
              <ion-text color="danger">
                <p [hidden]="wname.valid || submitted == false" class="ion-padding-start">
                    W/O is required
                </p>
              </ion-text>
  
              <ion-item>
                  <ion-label position="stacked" color="primary">Positive</ion-label>
                  <ion-input [(ngModel)]="mother.positive" name="positive" type="text" #positive="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                  </ion-input>
                </ion-item>
            
                <ion-text color="danger">
                  <p [hidden]="positive.valid || submitted == false" class="ion-padding-start">
                      Positive is required
                  </p>
                </ion-text>
    
        <ion-item>
          <ion-label position="stacked" color="primary">Admission Date</ion-label>
          <ion-input [(ngModel)]="mother.date" name="date" type="text" #date="ngModel" required>
          </ion-input>
        </ion-item>
    
        <ion-text color="danger">
          <p [hidden]="date.valid || submitted == false" class="ion-padding-start">
              Admission Date is required
          </p>
        </ion-text>
        <ion-item>
            <ion-label position="stacked" color="primary">Age</ion-label>
            <ion-input [(ngModel)]="mother.age" name="age" type="text" #age="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="age.valid || submitted == false" class="ion-padding-start">
                Age is required
            </p>
          </ion-text>
          <ion-item>
              <ion-label position="stacked" color="primary">Time</ion-label>
              <ion-input [(ngModel)]="mother.time" name="time" type="text" #time="ngModel" spellcheck="false" autocapitalize="off"
                required>
              </ion-input>
            </ion-item>
        
            <ion-text color="danger">
              <p [hidden]="time.valid || submitted == false" class="ion-padding-start">
                  Time is required
              </p>
            </ion-text>
            <ion-item>
                <ion-label position="stacked" color="primary">Outcome</ion-label>
                <ion-input [(ngModel)]="mother.outcome" name="outcome" type="text" #outcome="ngModel" spellcheck="false" autocapitalize="off"
                  required>
                </ion-input>
              </ion-item>
          
              <ion-text color="danger">
                <p [hidden]="outcome.valid || submitted == false" class="ion-padding-start">
                    Outcome is required
                </p>
              </ion-text>
      </ion-list>
    
    
      <div text-center>	
          <ion-button (click)="onLogin(motherForm)" shape="round" type="submit">Save</ion-button>
        </div>
    </form>
        </div></ion-col></ion-row></ion-grid>
 
    
  </ion-content>