.profile {
       text-align: center;
      img {
        max-height: 15%;
        max-width: 15%;
        border-radius: 50%;
        display: inline;
        box-shadow: 0 0 28px rgba(255,255,255, .65);
      }
    }

  
 .patients {
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    li {
       background: rgba(230, 230, 230,1 );
       padding: 1em;
         width: 32.50%;
         margin: 2em;
         text-align: center;

         img {
            display: block;
            width: 25%;
            margin: auto;
         }
    }
 }



  