<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-buttons slot="start">
           <ion-back-button defaultHref="home"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>Search</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <ion-content>
      <div class="profile">
          <img src="assets/img/women.jpg">
        </div>
       
 
          <ion-searchbar
          (ionInput)="filterpatients($event.target.value)"></ion-searchbar>
          <ion-radio-group>
        
            <ion-item>
              <ion-label color="primary">All</ion-label>
              <ion-radio slot="start" value="all"  (ionSelect)="onFilter($event)" checked="true"></ion-radio>
            </ion-item>
            </ion-radio-group>

      
            <ion-row class="patients">
              <li *ngFor="let patient of patients">
                <img src="{{ patient.image }}">
                <h2>{{ patient.name }}</h2>
                <h5>{{ patient.dateofbirth }}</h5>
                <div [innerHTML]="patient.address"></div>
                
              </li>
            </ion-row> 
         
    <ion-row>
        <ion-col>
          <ion-button (click)="onLogin()" type="submit" expand="block">Search</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="mother()" color="light" expand="block">Add Mother</ion-button>
        </ion-col>
      </ion-row> 

  </ion-content>
  
  
  