<ion-header>
  <ion-toolbar color="light">
    <ion-title text-center>Login</ion-title>
    <ion-buttons slot="end">
      <select>
        <option selected>Default</option>
        <option >Clinic</option>
        <option>Patient</option>
     </select>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
 
   <ion-content padding> 
   
   
  
    <!-- <ion-fab slot="fixed" vertical="top" horizontal="start" #fab>
      <ion-fab-button>
        <ion-icon name="md-contact"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-button color="vimeo" >
         <h5>login as clinic</h5>
        </ion-button>
        <ion-button color="google" >
          <h5>login as Patient</h5>
         </ion-button>
        
      </ion-fab-list>
    </ion-fab>  -->
  <div class="profile">
    <img src="assets/img/women.jpg">
  </div> 
 
  <form #loginForm="ngForm" novalidate>
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
           
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>
  

    <p text-center tappable (click)="forgotpas()" class="paz">
      <ion-text>
        <strong>Forgot Password?</strong>
      </ion-text>
    </p>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onSignup()" color="light" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-col>
</ion-row>
</ion-grid>
  </form>

</ion-content> 



