<ion-content padding class="login auth-page">

    <div class="auth-content">
      <!-- Logo -->
      <div padding-horizontal text-center>
        <div class="profile">
          <img src="assets/img/women.jpg">
        </div>
        <h3 no-margin>
          <ion-text color="light" class="fw700">
            <ion-text color="secondary">Register</ion-text>
          </ion-text>
        </h3>
      </div>
      <ion-grid>
        <ion-row  justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
          <ion-button  type="submit" expand="block"  (click)="individual()" >Individual</ion-button><br>
          <ion-button  type="submit" expand="block" (click)="business()" >Business</ion-button>
      <div margin-top>
        
        <!-- <ion-button icon-left size="medium" expand="full" shape="round" color="dark" 
          tappable>
          <ion-icon name="log-in"></ion-icon>
          Next
        </ion-button> -->
  
      </div>
  
      <!-- Other links -->
      <div text-center margin-top>
        <span (click)="goToLogin()" tappable>
          <ion-text color="dark">
            <strong>I have an account!</strong>
          </ion-text>
        </span>
      </div>
            </div>
          </ion-col></ion-row></ion-grid>
    </div>
  </ion-content>