<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="facreport"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>Today Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  
       <!-- <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="6">
            <ion-button shape="round"  color="dark" (click)="today()"  tappable>
             Today
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button shape="round"  color="dark" (click)="last6mon()" tappable>
             Last 6 Months
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button shape="round"  color="dark" (click)="last30()"  tappable>
             Last 30 days
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button shape="round"  color="dark" (click)="last5yea()" tappable> 
             Last 5 years
            </ion-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>
       -->
       <ion-card>
          <google-chart [data]="pieChart"></google-chart>
      </ion-card>
   
</ion-content>

              
