<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
           <ion-back-button defaultHref="facprochild"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>Maternity Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="profile">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
     
              <img class="circle-pic" src="../assets/img/child.jpg" >
         
  
  <h1 text-center>Child1</h1>
  
      
     <ion-card text-center>
      <p  >Blood Group:	
   
        <ion-text color="primary">
          <strong>A+</strong>
        </ion-text>
      </p>
       <p  >Weight:	
   
        <ion-text color="primary">
          <strong>5Kgs</strong>
        </ion-text>
      </p>
      <p  >Delivery Date:	
   
        <ion-text color="primary">
          <strong>05/10/2018</strong>
        </ion-text>
      </p>
      <p  >Delivery Time:	
   
        <ion-text color="primary">
          <strong>2:59PM</strong>
        </ion-text>
        </p>
      </ion-card>
          </div></ion-col></ion-row></ion-grid>
       
            </ion-content>