
.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
ion-content {
      --background: #fff url("assets/img/doctor1.jpg") no-repeat center center / cover;
      background-color:black;
     }
