 <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title text-center>Home</ion-title>
     
        <ion-buttons slot="end">
            <ion-button size="small" shape="round" color="medium" (click)="logout()">
              <ion-icon name="md-exit"></ion-icon>
             
            </ion-button>
          </ion-buttons>
       
    </ion-toolbar>
  </ion-header>
 

<ion-content text-center >
    
    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center>
            <div class="login-logo">
                <img src="assets/img/appicon.svg" alt="Ionic logo">
              </div>
          <h3 no-margin>
            <ion-text color="light" class="fw700">
            
            </ion-text>
          </h3>
        </div>
       
    <ion-radio-group>
        
        <ion-item>
          <ion-label color="primary">search</ion-label>
          <ion-radio slot="start" value="customer"  (click)="search()" checked="true"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary">Report</ion-label>
          <ion-radio slot="start" value="agent" (click)="report()"></ion-radio>
        </ion-item>
      </ion-radio-group>
     
    </div>
    </ion-content>
    
  <!-- <ion-grid >
      <ion-row >
          <ion-col col-4></ion-col>
        <ion-col size="4">
<img src="../assets/img/searchicon.png" (click)="search()">   </ion-col>
<ion-col col-4></ion-col>
     
      </ion-row>
  </ion-grid><br><br><br><br>




  <ion-grid >
      <ion-row >  
          <ion-col col-4></ion-col>
          <ion-col size="4">
          
<img src="../assets/img/report1.png" (click)="report()" width="200" height="100">
          
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-grid>
  

     -->
   
  
  