
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="facaddmot"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="profile">
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
  
          <img src="assets/img/mother.jpg">

    
  <div text-center>	
      <ion-button shape="round" > 
      Generate/Scan tag 
      </ion-button></div>

<form #promotForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
          <ion-label position="stacked" color="primary">Assigned Nurse</ion-label>
          <ion-input [(ngModel)]="promot.name" name="name" type="text" #name="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
    
        <ion-text color="danger">
          <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
            >Assigned Nurse  is required
          </p>
        </ion-text>

        <ion-item>
            <ion-label position="stacked" color="primary"> Room</ion-label>
            <ion-input [(ngModel)]="promot.number" name="number" type="text" #number="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="number.valid || submitted == false" class="ion-padding-start">
                Room is required
            </p>
          </ion-text>

          <ion-item>
              <ion-label position="stacked" color="primary">Anaesthesiologist</ion-label>
              <ion-input [(ngModel)]="promot.anaesname" name="anaesname" type="text" #anaesname="ngModel" spellcheck="false" autocapitalize="off"
                required>
              </ion-input>
            </ion-item>
        
            <ion-text color="danger">
              <p [hidden]="anaesname.valid || submitted == false" class="ion-padding-start">
                Anaesthesiologist is required
              </p>
            </ion-text>

            <ion-item>
                <ion-label position="stacked" color="primary">Blood Pressure</ion-label>
                <ion-input [(ngModel)]="promot.pressure" name="pressure" type="text" #pressure="ngModel" spellcheck="false" autocapitalize="off"
                  required>
                </ion-input>
              </ion-item>
          
              <ion-text color="danger">
                <p [hidden]="pressure.valid || submitted == false" class="ion-padding-start">
                  Blood Pressure is required
                </p>
              </ion-text>
  
      <ion-item>
        <ion-label position="stacked" color="primary"> Height</ion-label>
        <ion-input [(ngModel)]="promot.height" name="height" type="text" #height="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="height.valid || submitted == false" class="ion-padding-start">
          Height is required
        </p>
      </ion-text>
      <ion-item>
          <ion-label position="stacked" color="primary">Weight</ion-label>
          <ion-input [(ngModel)]="promot.weight" name="weight" type="text" #weight="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
    
        <ion-text color="danger">
          <p [hidden]="weight.valid || submitted == false" class="ion-padding-start">
            Weight is required
          </p>
        </ion-text>
        <ion-item>
            <ion-label position="stacked" color="primary">Sugar</ion-label>
            <ion-input [(ngModel)]="promot.sugar" name="sugar" type="text" #sugar="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="sugar.valid || submitted == false" class="ion-padding-start">
              Sugar is required
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="stacked" color="primary">Procedural Notes</ion-label>
            <ion-input [(ngModel)]="promot.notes" name="notes" type="text" #notes="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="notes.valid || submitted == false" class="ion-padding-start">
                Notes is required
            </p>
          </ion-text>

          <ion-item>
            <ion-label position="stacked" color="primary">Outcome</ion-label>
            <ion-input [(ngModel)]="promot.outcome" name="outcome" type="text" #outcome="ngModel" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
      
          <ion-text color="danger">
            <p [hidden]="outcome.valid || submitted == false" class="ion-padding-start">
              Outcome is required
            </p>
          </ion-text>
       
    </ion-list>
   
  
    <div text-center>	
      <ion-button (click)="onLogin(promotForm)" shape="round" type="submit">Save</ion-button>
      </div>
  </form>

        </div></ion-col></ion-row></ion-grid>
</ion-content>