<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
           <ion-back-button defaultHref="facpatient"></ion-back-button> 
         </ion-buttons> 
         <ion-title text-center>Profile</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="profile">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
    
          
              <img src="assets/img/mother.jpg">
          
          <h1 text-center>Mrs.Nagalakshmi</h1>

     
         
                  <ion-col col-4></ion-col>
                <ion-col size="4">
                    <img src="assets/img/barcode.jpg" width ="100" height="100">  </ion-col>
        <ion-col col-4></ion-col>
             
             
           
          <ion-card >
       
      <p  >Blood Group:	
   
        <ion-text color="primary">
          <strong>O+</strong>
        </ion-text>
      </p>
      <p  >Email	
   
        <ion-text color="primary">
          <strong>mnagalaksmi@yahoo.com</strong>
        </ion-text>
      </p>
      <p  >phone:	
   
        <ion-text color="primary">
          <strong>998034212</strong>
        </ion-text>
      
      </p>
     
   
  </ion-card>
      <h1 text-center> Admission History </h1>
      <ion-card>
      
      <p >Admission No	
   
        <ion-text color="primary">
          <strong>87213-AN01</strong>
        </ion-text>
      </p>
      <p  >Admission Date:	
   
        <ion-text color="primary">
          <strong>01/12/2018</strong>
        </ion-text>
      </p>
      <p  >Time:	
   
        <ion-text color="primary">
          <strong>3:50PM</strong>
        </ion-text>
      </p>

      <ion-row >
          <ion-col>
            <ion-button (click)="facmotnote()" >Show QR</ion-button>       
          </ion-col>
          <ion-col >
            <ion-button (click)="facmotnote()" color="light" >View Notes</ion-button>
          </ion-col>
        </ion-row>
     
    </ion-card>
  
  
    <ion-card>
      <ion-card-content>
        <p >Admission No	
   
        <ion-text color="primary">
          <strong>87213-AN02</strong>
        </ion-text>
      </p>
      <p  >Admission Date:	
   
        <ion-text color="primary">
          <strong>01/12/2016</strong>
        </ion-text>
      </p>
      <p  >Time:	
   
        <ion-text color="primary">
          <strong>3:50PM</strong>
        </ion-text>
      </p>
      <ion-row>
          <ion-col>
            <ion-button (click)="facmotnote()" >Show QR</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="facmotnote()" color="light" >View Notes</ion-button>
          </ion-col>
        </ion-row>
     
      </ion-card-content>
    </ion-card>

     <div text-center>	
        <ion-button  size="medium"  shape="round"  (click)="facpromot()" >
      Admit mother
     </ion-button>
     </div>
          </div></ion-col></ion-row></ion-grid>
    
              </ion-content>
