<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="logincred"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>User Setup </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <div class="login-logo">
          <img src="assets/img/appicon.svg" alt="Ionic logo">
        </div>
        
  <form #loginForm="ngForm" novalidate>
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Challenge Question</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            Challenge Question is required
        </p>
      </ion-text>
  
      <ion-item>
        <ion-label position="stacked" color="primary">Answer</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Answer is required
        </p>
      </ion-text>
    </ion-list>
  
  
    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">  Next</ion-button>
      </ion-col>
      
    </ion-row>
          </div></ion-col></ion-row></ion-grid>
  </form>
  </ion-content>
  
  
