<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register"></ion-back-button> 
         </ion-buttons> 
      <ion-title text-center>provider</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div class="login-logo">
          <img src="assets/img/appicon.svg" alt="Ionic logo">
        </div>
       <ion-grid>
        <ion-row  justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
  <form #providerForm="ngForm" novalidate>
     
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="provider.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            Email is required
        </p>
      </ion-text>
  
      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="provider.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Practice Registration</ion-label>
        <ion-input [(ngModel)]="provider.registration" name="registration" type="text" #registration="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="registration.valid || submitted == false" class="ion-padding-start">
          Practice Registration is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Facility Name</ion-label>
        <ion-input [(ngModel)]="provider.name" name="name" type="text" #name="ngModel" required>
        </ion-input>
      </ion-item>
  
      <ion-text color="danger">
        <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
          Facility Name is required
        </p>
      </ion-text>

    </ion-list>

  
  
   
  </form>
  <ion-item>
    <!-- <ion-label>Pepperoni</ion-label> -->
    <ion-checkbox checked></ion-checkbox>
    <ion-label>Provider</ion-label>
  </ion-item><br>
    
          <ion-button  (click)="onLogin(providerForm)" type="submit" expand="block">Next</ion-button>
       
    
            </div></ion-col></ion-row></ion-grid>
  </ion-content>
  
  