<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="home"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center >
    <div padding-horizontal text-center>
        <div class="login-logo">
            <img src="assets/img/appicon.svg" alt="Ionic logo">
          </div>
    </div>
 
      <ion-radio-group>
      <ion-item>
          <ion-label color="primary">Today</ion-label>
          <ion-radio slot="start" value="customer"   (click)="today()" checked="true"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label color="primary">Last 30 days</ion-label>
          <ion-radio slot="start" value="agent" (click)="last6mon()"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label color="primary">last 6 months</ion-label>
            <ion-radio slot="start" value="agent"  (click)="last30()"></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label color="primary">Last 5 years</ion-label>
              <ion-radio slot="start" value="agent" (click)="last5yea()"></ion-radio>
            </ion-item>
      </ion-radio-group>
    
   
   <h1 text-center>Total Patients Discharged Today:281</h1>
</ion-content>

              


