
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button defaultHref="facmother"></ion-back-button> 
       </ion-buttons> 
    <ion-title text-center>Maternity Notes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <ion-grid>
    <ion-row  justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
    <div class="login-logo">
        <img src="assets/img/appicon.svg" alt="Ionic logo">
      </div>
<ion-card>
  <ion-card-content>
     
	<p >Assigned Nurse:	
 
      <ion-text color="primary">
        <strong>P.Mary</strong>
      </ion-text>
    </p>
    <p  >Room:	
 
      <ion-text color="primary">
        <strong>322</strong>
      </ion-text>
    </p>
    <p  >Anesthesiologist:	
 
      <ion-text color="primary">
        <strong>Mr.Jay</strong>
      </ion-text>
    </p>
    <p  >BloodPressure:	
 
      <ion-text color="primary">
        <strong>130/85mmHg</strong>
      </ion-text>
    </p>
    <p  >Height:	
 
      <ion-text color="primary">
        <strong>5'5"</strong>
      </ion-text>
    </p>
    <p  >Weight:	
 
      <ion-text color="primary">
        <strong>55kgs</strong>
      </ion-text>
    </p>
    <p  >Sugar:	
 
      <ion-text color="primary">
        <strong>140mg/dl</strong>
      </ion-text>
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
         <h1>
              		Procedural Notes
              	</h1>
              <h6>
              
              
              		Patient came in with severe pain. Water broke but appeared to be stable. Prior history of diabetes. Was administered a quick IV and examined the stomach for possible cramps.
              
              </h6>
            </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-content>
              	<h1>
              		Outcome
              	</h1>

              <h6>
              
              
              		Successfully delivered. Child weighing 5 kgs.
              	
              </h6>
            </ion-card-content>
          </ion-card>
        </div></ion-col></ion-row></ion-grid>
          </ion-content>
